* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}
.back {
  height: 100%;
  width: 100%;
  background-image: url('../images/home5.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
}
.center {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.colorsel {
  color: black;
}
.left,
.right {
  width: 20%;
}

.middle {
  padding-top: 40px;
  width: 50%;
  margin-left: 60px;
}

.spacee {
  margin-right: 20px;
}
.button-box {
  width: 50px;
  height: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
  background-color: black;
  text-align: center;

  margin: 10px 0px 10px 70px;
}
.input-field {
  width: 15%;
  padding: 10px 0;
  margin: 5px 0;
  padding-left: 10px;
  margin-right: 20px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  text-align: center;
  border-bottom: 1px solid #999;
  outline: none;
  background: white;
}

.input-field2 {
  width: 8%;
  padding: 10px 0;
  margin: 5px 0;
  padding-left: 20px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  text-align: center;
  border-bottom: 1px solid #999;
  outline: none;
  background: white;
}
.colorsel {
  color: black;
}
.submit-button {
  width: 30%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin-top: 30px;
  margin-left: 60px;
  background: white;
  border: 0;
  outline: none;
  border-radius: 30px;
}
/* Clear floats after the columns */
