* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.back {
  height: 100%;
  width: 100%;
  background-image: url('../images/back2.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
}
.formbox {
  width: 400px;
  height: 360px;
  position: relative;
  margin: 6% auto;
  background: transparent;
  padding: 5px;
  padding-top: 50px;
}
.button-box {
  width: 240px;
  height: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
  background-color: black;

  margin: 10px 0px 10px 70px;
}
.button-boxnew {
  width: 240px;
  height: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
  background: linear-gradient(to left, #260537, #b8cadf);
  margin: 10px 0px 10px 70px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: relative;
  width: 120px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: 0.5s;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 300px;
  transition: 0.5s;
  margin-left: 10px;
}

.setting {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  text-align: center;
  border-bottom: 1px solid #999;
  outline: none;
  background: white;
}

.submit-button {
  width: 60%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin-top: 30px;
  margin-left: 60px;
  background: linear-gradient(to left, #260537, #b8cadf);
  border: 0;
  outline: none;
  border-radius: 30px;
}

#login {
  left: 40px;
}
